.userManage{
    width: 6%;
    height: 870px;
    margin: 2% 1% 2% 2%;
    display: inline-block;
    border-radius: 15px;
    float: left;
    background: rgba(5,5,5,0.4);
}
.user-hidden-hint{
    width: 65px;
    height: 500px;
    margin: 185px 25px;
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
    text-align: center;
    color: #d1d4d5;
}
.article-hidden-hint{
    width: 65px;
    height: 500px;
    margin: 185px 25px;
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
    text-align: center;
    color: #d1d4d5;
    display: none;
}
.notice-hidden-hint{
    width: 65px;
    height: 500px;
    margin: 185px 25px;
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
    text-align: center;
    color: #d1d4d5;
}

.userManage-query{
    width: 98%;
    height: 80px;
    line-height: 80px;
    margin: 0 1% 0 1%;
    display: none;
}
.userManage-query>input{
    width: 180px;
    height: 35px;
    border-radius: 15px;
    background: transparent;
    text-align: center;
    font-family: 宋体;
    font-size: 20px;
    border: 2px solid #d1d4d5;
    color: #d1d4d5;
    margin: 0 0 0 50px;
}
.userManage-query>select{
    width: 170px;
    height: 35px;
    border-radius: 15px;
    background: transparent;
    font-family: 宋体;
    border: 2px solid #d1d4d5;
    color: #d1d4d5;
    margin: 0 0 0 50px;
}
.userManage-query>select>option{
    background: rgba(15,15,15,0.6);
    color: #d1d4d5;
    border: 1px solid #555555;
}

.userManage-items{
    width: 98%;
    height: 770px;
    margin: 0 1% 0 1%;
    overflow-y: scroll;
    display: none;
}

.userManage-items::-webkit-scrollbar{
    display: none;
}
.user-item{
    width: 100%;
    height: 80px;
    margin: 0 0 15px 0;
    border-radius: 20px;
    background: rgba(255,255,255,0.6);
}
.item-photo{
    display: inline-block;
    float: left;
    width: 8%;
    height: 72px;
    margin: 4px 1%;
}
.item-createTime{
    display: inline-block;
    float: left;
    width: 15%;
    height: 72px;
    margin: 4px 1%;
    line-height: 72px;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    font-family: 楷体;
}
.item-photo>img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.item-name{
    display: inline-block;
    float: left;
    width: 12%;
    height: 72px;
    margin: 4px 1%;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    font-family: 楷体;
}
.item-onlineTime{
    display: inline-block;
    float: left;
    width: 15%;
    height: 72px;
    margin: 4px 1%;
    line-height: 72px;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    font-family: 楷体;
}
.item-violate{
    display: inline-block;
    float: left;
    width: 2%;
    height: 72px;
    margin: 4px 1%;
    line-height: 72px;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    font-family: 楷体;
}
.item-ranking{
    display: inline-block;
    float: left;
    width: 5%;
    height: 72px;
    margin: 4px 1%;
    line-height: 72px;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    font-family: 楷体;
}
.item-state{
    display: inline-block;
    float: left;
    width: 7%;
    height: 72px;
    margin: 4px 1%;
    line-height: 72px;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    font-family: 楷体;
}

.user-operation{
    display: inline-block;
    float: left;
    width: 20%;
    height: 80px;
    line-height: 80px;
    margin: 0 1%;
    text-align: center;
}
.user-operation-btn{
    display: inline-block;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #2d2c2e;
    border-radius: 20px;
    margin: 0;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.user-operation-btn:active{
    background: rgba(220,220,220,0.6);
}


.articleManage{
    width: 80%;
    height: 870px;
    margin: 2% 1% 2% 1%;
    display: inline-block;
    border-radius: 15px;
    float: left;
    background: rgba(5,5,5,0.4);
}
.article-lexicon{
    width: 100%;
    height: 350px;
    border-radius: 15px;
    /*background: rgba(5,5,5,0.4);*/
}
.article-lexicon-query{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.article-lexicon-query>i{
    font-size: 30px;
    float: right;
    margin: 0 30px 0 0;
    color: #d1d4d5;
}
.article-lexicon-query>i:active{
    color: #706e6e;
}
.article-lexicon-query>input{
    width: 200px;
    height: 30px;
    margin: 0 20px 0 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #d1d4d5;
    background: transparent;
    display: inline-block;
    color: #d1d4d5;
}

.article-lexicon-items{
    width: 98%;
    height: 280px;
    margin: 0 1% 20px 1%;
    overflow: scroll;
}
.article-lexicon-items::-webkit-scrollbar{
    display: none;
}
.lexicon-item{
    display: inline-block;
    float: left;
    width: 9%;
    height: 45px;
    line-height: 45px;
    margin: 5px 0.5%;
    border-radius: 20px;
    background: rgba(245,245,245,0.6);
}
.lexicon-item>p{
    display: inline-block;
    width: 80%;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-family: 仿宋;
    text-align: center;
    margin: 0;
    border-right: 0.5px solid #555555;
}
.lexicon-item>i{
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.lexicon-item>i:active{
    color: #7d7b40;
}

.article-items{
    width: 100%;
    height: 500px;
    margin: 19px 0 0 0;
    border-radius: 15px;
    /*background: rgba(5,5,5,0.4);*/
}
.article-item-query{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.article-item-query>input{
    width: 200px;
    height: 30px;
    margin: 0 20px 0 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #d1d4d5;
    background: transparent;
    display: inline-block;
    color: #d1d4d5;
}
.article-item-query>select{
    width: 180px;
    height: 30px;
    margin: 0 20px 0 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #d1d4d5;
    background: transparent;
    display: inline-block;
    color: #d1d4d5;
}
.article-item-query>select>option{
    background: rgba(15,15,15,0.6);
    color: #d1d4d5;
}

.article-massage-items{
    width: 98%;
    height: 440px;
    margin: 0 1% 10px 1%;
    overflow: scroll;
}
.article-massage-items::-webkit-scrollbar{
    display: none;
}
.articleMassage-item{
    display: inline-block;
    float: left;
    width: 15.66%;
    height: 120px;
    border-radius: 20px;
    margin: 0 0.5% 10px 0.5%;
    background: rgba(255,255,255,0.6);
}
.articleMassage-item-operation{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.articleMassage-item-operation>div{
    display: inline-block;
    width: 20%;
    height: 25px;
    line-height: 25px;
    margin: 0 20px;
    border-radius: 10px;
    border: 1px solid #2E2D3C;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #2E2D3C;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.articleMassage-item-operation>div:active{
    border: 1px solid #5e5e5e;
    color: #5e5e5e;
}
.articleMassage-item-title{
    width: 100%;
    height: 50px;
}
.articleMassage-item-title>p{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    font-family: 新宋体;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.articleMassage-item-time{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    font-family: 仿宋;
}

.noticeManage{
    width: 6%;
    height: 870px;
    margin: 2% 2% 2% 1%;
    display: inline-block;
    border-radius: 15px;
    float: right;
    background: rgba(5,5,5,0.4);
}
.noticeManage-hidden{
    display: none;
}

.notice-manage{
    display: inline-block;
    float: left;
    width: 60%;
    height: 870px;
}
.notice-thePublished{
    width: 98%;
    height: 360px;
    margin: 10px 1% 0 1%;

}
.thePublished-item{
    display: inline-block;
    float: left;
    width: 31.33%;
    height: 350px;
    margin: 0 1% 10px 1%;
    border-radius: 20px;
    background: rgba(255,255,255,0.6);
}
.thePublished-item-photo{
    display: inline-block;
    float: left;
    width: 120px;
    height: 90px;
    margin: 5px;
}
.thePublished-item-photo>img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.thePublished-item-info{
    display: inline-block;
    float: left;
    width: 180px;
    height: 90px;
    margin: 5px 0;
}
.item-info-title{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    font-family: 楷体;
}
.item-info-time{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-family: 楷体;
}
.thePublished-item-body{
    float: left;
    width: 98%;
    height: 209px;
    margin: 0 1%;
    font-size: 20px;
    font-family: 楷体;
    border-bottom: #555555;
}
.thePublished-item-body>p{
    margin: 0;
    line-height: 42px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.thePublished-item-operation{
    float: left;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.thePublished-item-operation>div{
    width: 80px;
    height: 30px;
    margin: 0 20px 0 20px;
    border-color: #00557d;
    color: #00557d;
}
.thePublished-item-operation>div:active{
    border-color: #000000;
    color: #000000;
}

.notice-toPublished{
    width: 98%;
    height: 480px;
    margin: 10px 1% 10px 1%;
    /*border-top: 1px solid #d1d4d5;*/
}
.toPublished-query{
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.toPublished-query>i{
    float: right;
    font-size: 30px;
    color: #d1d4d5;
    margin: 0 50px 0 0;
}
.toPublished-query>i:active{
    color: #000;
}
.toPublished-query>input{
    width: 150px;
    height: 30px;
    margin: 0 10px 0 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #d1d4d5;
    background: transparent;
    display: inline-block;
    color: #d1d4d5;
}
.toPublished-items{
    width: 100%;
    height: 420px;
    overflow: scroll;
}
.toPublished-items::-webkit-scrollbar{
    display: none;
}
.toPublished-item{
    width: 98%;
    height: 100px;
    margin: 0 1% 10px 1%;
    border-radius: 20px;
    background: rgba(245,245,245,0.8);
}
.toPublished-item-title{
    display: inline-block;
    float: left;
    width: 35%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    font-family: 楷体;
    font-weight: bold;
    color: #2d2c2e;
}
.toPublished-item-time{
    display: inline-block;
    float: left;
    width: 25%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    font-family: 楷体;
    color: #00557d;
}
.toPublished-item-operation{
    display: inline-block;
    float: left;
    width: 40%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    font-family: 楷体;
}
.toPublished-item-operation>div{
    width: 60px;
    height: 30px;
    border-color: #37373c;
    color: #37373c;
}
.toPublished-item-operation>div:active{
    border-color: #d1d4d5;
    color: #d1d4d5;
}
.toPublished-item-body{
    width: 98%;
    height: 65px;
    margin: 0 1% 0 1%;
}
.toPublished-item-body>img{
    float: left;
    width: 12%;
    height: 55px;
    margin: 0 2% 10px 1%;
    border-radius: 20px;
}
.toPublished-item-body>p{
    display: inline-block;
    float: left;
    width: 85%;
    height: 65px;
    margin: 0;
    line-height: 32px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}

.user-notice{
    display: inline-block;
    float: left;
    width: 40%;
    height: 870px;
}

.user-notice-thePublished{
    width: 98%;
    height: 400px;
    margin: 0 1%;
}
.user-notice-thePublished-item{
    display: inline-block;
    float: left;
    width: 31.33%;
    height: 190px;
    margin: 10px 1% 0 1%;
    background: rgba(255,255,255,0.8);
    border-radius: 20px;
}
.user-notice-thePublished-item-title{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 23px;
    font-family: 楷体;
    font-weight: bold;
}
.user-notice-thePublished-item-time{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-family: 楷体;
}
.user-notice-thePublished-item-body{
    width: 100%;
    height: 90px;
}
.user-notice-thePublished-item-body>p{
    width: 98%;
    height: 90px;
    margin: 0 1%;
    line-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 20px;
    font-family: 仿宋;
}
.user-notice-thePublished-item-operation{
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-top: 1px solid #2d2c2e;
    text-align: center;
}
.user-notice-thePublished-item-operation>div{
    width: 50px;
    height: 20px;
    line-height: 20px;
    border-color: #000000;
    color: #000000;
    font-size: 12px;
    margin: 0 20px;
}
.user-notice-thePublished-item-operation>div:active{
    border-color: #9b9ba0;
    color: #9b9ba0;
}

.user-notice-pending{
    width: 98%;
    height: 450px;
    margin: 20px 1% 0 1%;
}
.user-notice-pending-query{
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0;
}
.user-notice-pending-query>input{
    width: 120px;
    height: 30px;
    margin: 0 10px 0 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #d1d4d5;
    background: transparent;
    display: inline-block;
    color: #d1d4d5;
}
.user-notice-pending-query>i{
    color: #d1d4d5;
    font-size: 30px;
    margin: 0 0 0 50px;
}
.user-notice-pending-query>i:active{
    color: #000;
}

.user-notice-pending-items{
    width: 100%;
    height: 380px;
    margin: 0 0 10px 0;
    overflow: scroll;
}
.user-notice-pending-items::-webkit-scrollbar{
    display: none;
}

.user-notice-pending-item{
    display: inline-block;
    float: left;
    width: 23%;
    height: 100px;
    margin: 5px 1%;
    border-radius: 20px;
    background: rgba(255,255,255,0.8);
}
.user-notice-pending-item-time{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-family: 楷体;
    font-weight: 100;
}
.user-notice-pending-item-title{
    width: 100%;
    height: 38px;
    border-top: 1px solid #29292e;
    border-bottom: 1px solid #29292e;
}
.user-notice-pending-item-title>p{
    width: 100%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    font-family: 楷体;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-notice-pending-item-operation{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.user-notice-pending-item-operation>div{
    width: 50px;
    height: 20px;
    line-height: 20px;
    border-color: #000000;
    color: #000000;
    font-size: 12px;
    margin: 0 5px;
}
.user-notice-pending-item-operation>div:active{
    border-color: #9b9ba0;
    color: #9b9ba0;
}

