
/*主页背景*/
.home-page{
    height: 100%;
    /*background-image: url("../img/1.jpg");*/
    /*background-size: 100% 100%;*/
    padding: 0;
}

/*页面头部信息*/
.home-page-head{
    float: right;
    width: 76%;
    height: 45px;
    margin: 1% 2% 0 0;
    color: #9F9F9F;
    font-weight: bold;
    background: rgba(12,12,80,0.4);

    border-radius: 10px;
}

/*左侧导航栏*/
.home-page-left{
    width: 18%;
    height: 97%;

    margin: 1% 0 0 2%;
    display: inline-block;
    vertical-align: top;
    float: left;

    background: rgba(12,12,12,0.6);

    border-radius: 10px;
}

/*右侧导航栏*/
.home-page-right{
    width: 18%;
    height: 65%;

    margin: 1% 2% 0 0;
    display: inline-block;
    vertical-align: top;
    float: right;

    background: rgba(12,12,12,0.6);

    border-radius: 10px;
}
.top{
    width: 96%;
    height: 190px;
    margin: 10px 2% 0 2%;
    border-bottom: 1px solid #ffffff;
    /*background: #FF8C00;*/
}
.top-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    /*float: left;*/
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-family: 楷体;
}
.top-item{
    width: 100%;
    height: 26px;
    margin: 2px 0 2px 0;
    cursor: pointer;
}
.top-item>p{
    width: 100%;
    line-height: 26px;
    font-family: "Courier New";
    font-size: 20px;
    /*word-break: keep-all;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 宋体;
    font-size: 16px;
    color: #fff9ec;
}


.page-hidden{
    width: 0;
    height: 0;
    margin: 0;
}

.home-page-body{
    width: 56%;
    height: 90%;

    margin: 1% 2% 0 2%;
    display: inline-block;
    vertical-align: top;

    background: rgba(12,12,12,0.6);

    overflow-y: hidden;

    border-radius: 10px;

}

/*!*设置滚动条样式*!*/
/*#pagebody::-webkit-scrollbar{*/
    /*!*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）*!*/
    /*height: 100%;*/
/*}*/

/*------------------------------主页头部样式--------------------------------------*/

/*文章标签区*/
.head-title-type {
    width: 48%;
    height: 100%;
    float: left;
}
/*顶部标签项*/
.title-type-item {
    float: left;
    width: 20%;
    height: 45px;
    line-height: 45px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    /*双击不选中文本*/
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.title-type-item-check{
    background: rgba(255,255,255,0.5);
    color: #0C0C0C;
}

/*顶部搜索区*/
.head-retrieve {
    float: right;
    width: 50%;
    height: 100%;
}

/*页面顶部搜索项输入框*/
.head-input {
    float: left;
    width: 110px;
    height: 93%;
    margin: 0 5px 0 0;
    padding: 0.3% 0 0 1%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    font-size: 150%;
    font-weight: 100;
    color: #FFFFFF;

    border: none;
    display: inline-block;

    border-radius: 10px;
}

/*页面顶部input*/
.head-input > input {
    width: 90%;
    height: 90%;
    background-color: transparent;
    border-color: #3F3F3F;
    /*border-width: 1px;*/
    border-radius: 10px;
}

/*页面顶部重置按钮*/
.head-btn-reset {
    float: right;
    width: 12%;
    height: 80%;
    background-color: transparent;
    margin: 0.7% 3% 0 0;
    color: white;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
}

/*页面顶部搜索按钮*/
.head-btn-search {
    float: right;
    width: 12%;
    height: 80%;
    margin: 0.7% 2% 0 0;
    border-radius: 5px;
    border: none;
    background: rgba(255,255,255,0.5);
    color: white;
}

/*点击按钮改变背景颜色*/
.head-btn-search:active {
    background-color: #4E5465;
}

/*------------------------------主页左侧样式--------------------------------------*/
/*用户头像*/
.user-photo{
    width: 70%;
    margin: 10% 15% 0 15%;
    border-radius: 50%;
}
.userOut{
    display: none;
    position: absolute;
    top: 312px;
    left: 290px;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    background: rgba(245,245,245,0.8);
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-weight: 100;
    font-size: 20px;
    font-family: 楷体;
}
.userOut:active{
    background: rgba(45,45,45,0.8);
    color: #FFFFFF;
}

/*用户姓名*/
.user-name{
    width: 40%;
    height: 35px;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    color: white;
    margin: 5% 30% 10px 30%;
    border-radius: 10px;
    border: 1px solid #ffffff;
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.user-name:active{
    border: 1px solid #3F3F3F;
    color: #3F3F3F;
}

/*用户消息*/
.user-message{
    width: 100%;
    height: 6%;
}

/*用户消息项*/
.user-message-item{
    float: left;
    width: 23%;
    height: 45px;
    margin: 1% 1% 0 1%;
    display: inline-block;
    text-align: center;
    color: white;
    border-radius: 10px;
    /*双击不选中文本*/
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;

    background: rgba(105,105,105,0.6);

}
/*点击消息项*/
.user-message-item:active{
    background: rgba(45,105,105,0.6);
}

.user-message-item-num{
    line-height: 20px;
    font-size: 15px;
}

.user-message-item-item{
    line-height: 25px;
    font-size: 17px;
}

/*用户操作*/
.user-to-pages{
    width: 100%;
    height: 55%;
}

.user-page-1{
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin: 2% 3% 0 3%;
    font-size: 150%;
    font-weight: lighter;
    border-radius: 15px;
    color: #FFFFFF;
    background: rgba(12,12,12,0.6);
    /*双击不选中文本*/
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.user-to-pages-img{
    width: 60px;
    line-height: 60px;
    float: left;
    margin: 0 0 0 20px;
    /*background-color: #eb7350;*/
}

.user-to-pages-span{
    width: 45%;
    line-height: 60px;
    font-size: 30px;
    float: right;
    margin: 0 40px 0 0;
    font-family: 楷体;
    /*background-color: #FFB800;*/
}

.user-page-1:active{
    background: rgba(112,112,112,0.6);
}
/*-----------------------------------------主体部分-----------------------------------------------*/
/*跳转页面跳转动画*/
.home-page-body-1{
    float: left;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    background: rgba(248,248,255,0.4);
    border-radius: 10px;
    margin: 20% 0 0 0;
    opacity: 0;
}

.home-page-body-2{
    float: left;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    background: rgba(248,248,255,0.4);
    border-radius: 10px;
    margin: 24% 0 0 0;
    opacity: 0;
}

.home-page-body-3{
    float: left;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    background: rgba(248,248,255,0.4);
    border-radius: 10px;
    margin: 27.5% 0 0 0;
    opacity: 0;
}

.home-page-body-4{
    float: left;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    background: rgba(248,248,255,0.4);
    border-radius: 10px;
    margin: 31% 0 0 0;
    opacity: 0;
}

.home-page-body-5{
    float: left;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    background: rgba(248,248,255,0.4);
    border-radius: 10px;
    margin: 34.5% 0 0 0;
    opacity: 0;
}

.home-page-body-6{
    float: left;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    background: rgba(248,248,255,0.4);
    border-radius: 10px;
    margin: 38% 0 0 0;
    opacity: 0;
}

.home-page-body-7{
    float: left;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    background: rgba(248,248,255,0.4);
    border-radius: 10px;
    margin: 42% 0 0 0;
    opacity: 0;
}

/*主体内容*/
.body-content{
    height: 97%;
    width: auto;
    margin: 10px 1.5% 0 1.5%;
    overflow: hidden;
    border-radius: 10px;
}

.jump-body-content{
    height: 97%;
    width: auto;
    margin: 10px 1% 0 1%;
    overflow: hidden;
    border-radius: 10px;
}

.page-body-iframe1{
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: scroll;
}

.loginPage{
    width: 600px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    background: transparent;
}
.loginPageBlur{
    margin: 1%;
    position: absolute;
    bottom: 0;
    float: left;
    width: 98%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -webkit-filter: blur(5px);
    /*-moz-filter: blur(15px);*/
    /*-o-filter: blur(15px);*/
    /*-ms-filter: blur(15px);*/
    filter: blur(5px);
}



