html,body{
    /*background: rgba(255,255,255,0.7);*/
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.notice{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    /*background: rgba(5,5,5,0.6);*/
}
.notice-left{
    width: 74%;
    height: 100%;
    margin: 0 1% 0 0;
    display: inline-block;
    float: left;
    border-radius: 10px;
    /*background: rgba(5,5,5,0.6);*/
}
.notice-left-major{
    width: 100%;
    height: 35%;
    float: left;
    border-radius: 10px;
    background: rgba(5,5,5,0.6);
}
.major-item{
    width: 96%;
    height: 82px;
    margin: 10px 2%;
    /*border-bottom: 1px solid #d1d4d5;*/
}
.major-item-img{
    display: inline-block;
    float: left;
    width: 120px;
    height: 82px;
}
.major-item-img>img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.major-item-content{
    display: inline-block;
    float: left;
    width: 890px;
    height: 82px;
}
.major-item-title{
    display: inline-block;
    float: left;
    width: 40%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    font-family: 楷体;
    color: #ff5860;
}
.major-item-time{
    display: inline-block;
    float: left;
    width: 60%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    font-family: 楷体;
    color: #8eaeff;
}
.major-item-text{
    display: inline-block;
    float: left;
    width: 98%;
    height: 50px;

    margin: 0 1%;
    font-size: 16px;
    font-weight: 100;
    font-family: 仿宋;
}
.major-item-text>p{
    margin: 0;
    line-height: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.notice-left-items{
    width: 100%;
    height: 63%;
    float: left;
    margin: 1.6% 0 0 0;
    border-radius: 10px;
    /*background: rgba(5,5,5,0.6);*/
}
.notice-left-item{
    width: 32.3%;
    /*height: 48.9%;*/
    height: 48.5%;
    margin: 0.5%;
    display: inline-block;
    float: left;
    border-radius: 10px;
    background: rgba(5,5,5,0.6);
}
.item-photo{
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    /*border-radius: 50%;*/
    margin: 5px;
}
.item-photo>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0;
}
.item-info{
    display: inline-block;
    float: left;
    width: 250px;
    height: 80px;
    margin: 5px 0;
}
.item-info-name{
    display: inline-block;
    float: left;
    width: 30%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    font-family: 楷体;
    color: #feffc1;
}
.item-info-time{
    display: inline-block;
    float: left;
    width: 70%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    font-family: 楷体;
    color: #befcff;
}
.item-info-title{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    font-family: 楷体;
    color: #eb7350;
}
.item-text{
    display: inline-block;
    float: left;
    width: 96%;
    height: 145px;
    margin: 0 2%;
    font-size: 24px;
    font-family: 仿宋;
    font-weight: 100;
}
.item-text>p{
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.notice-right{
    width: 25%;
    height: 100%;
    display: inline-block;
    float: right;
    border-radius: 10px;
    /*background: rgba(5,5,5,0.6);*/
}
.notice-right-ranking{
    width: 100%;
    height: 80%;
    float: left;
    border-radius: 10px;
    background: rgba(5,5,5,0.6);
}
.ranking-item{
    width: 94%;
    height: 70px;
    margin: 20px 3%;
    /*background: #ff5860;*/
    border-radius: 20px;
    border: 1px solid #d1d4d5;
    /*双击不选中文本*/
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.ranking-item:active{
    background: rgba(245,245,245,0.6);
}
.ranking-item-top{
    display: inline-block;
    float: left;
    width: 45px;
    height:60px;
    line-height: 60px;
    margin: 5px 0 5px 10px;
    font-size: 45px;
    font-family: 楷体;
    font-style: italic;
    text-align: center;
}
.ranking-item-name{
    display: inline-block;
    float: left;
    width: 210px;
    height: 60px;
    line-height: 60px;
    margin: 5px 0 5px 0;
    font-size: 26px;
    font-family: 楷体;
    text-align: center;
}
.ranking-item-photo{
    display: inline-block;
    float: left;
    width: 60px;
    height: 60px;
    margin: 5px 10px 5px 0;
}
.ranking-item-photo>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.notice-right-add{
    width: 100%;
    height: 18.4%;
    line-height: 150px;
    margin: 4% 0 0 0;
    float: left;
    border-radius: 10px;
    background: rgba(5,5,5,0.6);
    text-align: center;
}
.notice-right-add:active{
    background: rgba(200,200,200,0.6);
}