html,body{
    /*background: rgba(5,5,5,0.7);*/
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.personalCenter{
    width: 100%;
}
.personalCenter-top{
    width: 100%;
    height: 205px;
    vertical-align: top;
    float: left;
    /*background-color: #FFB800;*/
}
.personalCenter-top-left{
    width: 22.5%;
    height: 205px;
    display: inline-block;
    float: left;
    background: rgba(5,5,5,0.6);
    border-radius: 10px;
    text-align: center;
    margin: 0 2% 0 0;
    /*background-color: #FF5722;*/
}
.personalCenter-top-left-item{
    width: 45%;
    height: 55px;
    margin: 1.7% 2% 1.7% 2%;
    display: inline-block;
    float: left;
    border-radius: 12px;
    border: 1px solid #ADADAD;
}
.personalCenter-top-left-item>div[name='img']{
    width: 50%;
    height: 55px;
    display: inline-block;
    float: left;
}
.personalCenter-top-left-item>div[name='num']{
    width: 50%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    display: inline-block;
    float: left;
    background: rgba(255,255,255,0.6);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
}
.personalCenter-top-center{
    width: 57.5%;
    height: 205px;
    font-size: 20px;
    font-family: 楷体;
    display: inline-block;
    float: left;
    border-radius: 10px;
    color: white;
    background: rgba(5,5,5,0.6);
    /*background-color: #FFB800;*/
}
.personalCenter-top-center-row{
    width: 100%;
    height: 65px;
}
.personalCenter-top-center-col{
    height: 65px;
    line-height: 65px;
    display: inline-block;
    float: left;
}
#updateInfo{
    width: 20%;
    height: 65px;
    line-height: 65px;
    display: inline-block;
    text-align: center;
}
.personalCenter-top-right{
    width: 16%;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    background: rgba(5,5,5,0.6);
    margin: 0 0 0 2%;
    border-radius: 10px;
    /*background-color: #FF5722;*/
}
#myPhoto{
    width: 60%;
    height: 137px;
    margin: 5% 20% 0 20%;
    border-radius: 50%;
    background-image: url("../img/1.jpg");
    background-size: 100% 100%;
}
#updateMyPhoto{
    height: 35px;
    line-height: 35px;
    width: 46%;
    margin: 5% 27% 0 27%;
    border: 1px solid #007DDB;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    /*background-color: #FBFBFB;*/
    /*双击不选中文本*/
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.personalCenter-bottom{
    width: 100%;
    height: 74%;
    vertical-align: top;
    margin: 1% 0 0 0;
    float: left;
    /*background-color: #FF5722;*/
}
.personalCenter-bottom-left{
    width: 6%;
    height: 99%;
    margin: 0 2% 0 0;
    display: inline-block;
    float: left;
    border-radius: 10px;
    background: rgba(5,5,5,0.6);

}
.bottom-left-hidden{
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /*background: #e2e2e2;*/
    overflow-y: scroll;
}
.bottom-left-hidden::-webkit-scrollbar{
    display: none;
}
.user-messageBoard{
    width: 96%;
    line-height: 35px;
    border-radius: 10px;
    margin: 10px 2% 0 2%;
}
.user-messageBoard-top{
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(145,45,45,0.6);
}
.user-messageBoard-content{
    width: 98%;
    line-height: 35px;
    font-size: 20px;
    padding: 5px 1% 5px 1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    word-wrap:break-word;
    word-break:break-all;
    background: rgba(255,255,255,0.6);
}
.personalCenter-bottom-center{
    width: 70%;
    height: 99%;
    display: inline-block;
    float: left;
    border-radius: 10px;
    background: rgba(5,5,5,0.6);
    overflow: hidden;
}
.personalCenter-bottom-center-title{
    width: 100%;
    height: 10%;
    margin: 1% 0 0 0;
    display: inherit;
    /*background: rgba(122,122,122,0.6);*/
}
.personalCenter-bottom-center-title>input{
    width: 150px;
    height: 30px;
    margin: 15px 0 15px 10px;
    border-radius: 5px;
    background: transparent;
    display: inline-block;
    color: #ffffff;
}
.personalCenter-bottom-center-title>select{
    width: 130px;
    height: 30px;
    margin: 15px 0 15px 10px;
    border-radius: 5px;
    background: transparent;
    color: #ffffff;
}
.personalCenter-bottom-center-title>select>option{
    background: rgba(44,55,66,0.7);
    color: #ffffff;
    border-radius: 5px;
}
.personalCenter-bottom-center-title>button{
    margin: 12px 0 15px 10px;
}
.personalCenter-bottom-center-body{
    overflow-y: scroll;
    /*width: 102.27%;*/
    width: 100%;
    height: 85%;
    margin: 1% 0 0 0;
    display: inherit;
    /*background: rgba(255,255,255,0.6);*/

}
.personalCenter-bottom-center-body::-webkit-scrollbar{
    display: none;
}
.personalCenter-bottom-right{
    width: 20%;
    height: 99%;
    margin: 0 0 0 2%;
    display: inline-block;
    float: right;
    border-radius: 10px;
    background: rgba(5,5,5,0.6);
}
.add-friend{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 10px;
}
.friends-item{
    width: 94%;
    height: 45px;
    margin: 10px 3% 0 3%;
}
.friends-item-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.friends-item-name{
    width: 76%;
    height: 45px;
    border-radius: 10px;
    margin: 0 0 0 10px;
}
.friends-item-del{
    width: 60px;
    height: 45px;
    border-radius: 10px;
}
.friendsArticle-item{
    width: 96%;
    height: 70px;
    margin: 0 2% 10px 2%;

    /*background: rgba(55,155,10,0.4);*/
    /*border-bottom: 1px solid #ffffff;*/
    border-top: 1px solid #ffffff;
    cursor: hand;
}
.friendsArticle-item-title{
    width: 100%;
    height: 40px;
    float: left;
}
.friendsArticle-item-title-1{
    width: 40%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    float: left;
    color: #feffc1;
    font-size: 25px;
    font-weight: bold;
    font-family: 楷体;
    text-align: left;
}
.friendsArticle-item-title-2{
    width: 60%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    float: left;
    /*color: #ffffff;*/
    font-size: 20px;
    font-family: 宋体;
}
.friendsArticle-item-content{
    width: 98%;
    height: 30px;
    line-height: 30px;
    float: left;
    /*background: rgba(55,0,10,0.4);*/
    color: #ffffff;
    font-size: 20px;
    font-family: 仿宋;
    padding: 0 1% 0 1%;

}


