html{
    overflow: scroll;
    margin: 0;
}
html::-webkit-scrollbar{
    display: none;
}

.bg {
    background: url("../../img/6.jpg");
    height:98%;
    text-align: center;
    border-radius: 20px;
}
.bg-blur {
    margin: 1%;
    position: fixed;
    bottom: 0;
    float: left;
    width: 98%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -webkit-filter: blur(5px);
    /*-moz-filter: blur(15px);*/
    /*-o-filter: blur(15px);*/
    /*-ms-filter: blur(15px);*/
    filter: blur(5px);
}
.modelBtn1{
    display: inline-block;
    text-align: center;
    width: 75px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #2E2D3C;
    font-size: inherit;
    color: inherit;
    border-radius: 20px;
    outline: none;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.modelBtn1:active{
    color: #949592;
    border-color: #949592;
}

.modelBtn2{
    display: inline-block;
    text-align: center;
    width: 75px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #d5d6d3;
    font-size: inherit;
    color: inherit;
    border-radius: 20px;
    outline: none;
    background: #545552;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.modelBtn2:active{
    color: #2E2D3C;
    border-color: #2E2D3C;
}