/*设置内联块*/
.i-b-left{
    display: inline-block;
    float: left;
}

.i-b-right{
    display: inline-block;
    float: right;
}
/*背景颜色*/
.bg-1{
    background: #FFB800;
}
.bg-2{
    background: #FD482C;
}
.bg-3{
    background: #5FB878;
}
.bg-4{
    background: #666666;
}
.bg-5{
    background: #D8BFD8;
}
/*字体*/
.font-kai{
    font-family: 楷体;
}
.font-song{
    font-family: 宋体;
}
.font-fsong{
    font-family: 仿宋;
}
.font-cou{
    font-family: "Courier New";
}

/*按钮*/
.btn-search{
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    background: #d1d4d5;
    color: #000;
    font-family: 宋体;
    display: inline-block;
    /*双击不选中文本*/
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.btn-search:active{
    background: #666666;
}
.btn-reset{
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #d1d4d5;
    border-radius: 10px;
    background: rgba(0,0,0,0);
    color: #d1d4d5;
    font-family: 宋体;
    display: inline-block;
    /*双击不选中文本*/
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.btn-reset:active{
    color: #666666;
    border: 1px solid #666666;
}
/*圆角*/
.border-L-rad{
    display: inline-block;
    float: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.border-R-rad{
    display: inline-block;
    float: left;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/*模态框样式*/
.modelBg{
    background: transparent!important;
    border-radius: 20px!important;
}

.model{
    background: transparent!important;
    border-radius: 20px!important;
    overflow: scroll;
}
.model::-webkit-scrollbar{
    display: none;
}

.layui-laydate{
    background: rgba(45,45,45,0.8)!important;
    border-radius: 10px!important;
    color: #FFFFFF!important;
}
.laydate-btns-clear{
    background: transparent!important;
    border-radius: 5px!important;
}
.laydate-btns-now{
    background: transparent!important;
    border-radius: 5px!important;
}
.laydate-btns-confirm{
    background: transparent!important;
    border-radius: 5px!important;
}
.layui-laydate-content>table>thead>tr>th{
    color: #fbffd5!important;
}
.layui-laydate-content>table>tbody>tr>td{
    color: #FFFFFF;
}
.layui-laydate-content>table>tbody>tr>td:hover{
    color: #000000!important;
    background: rgba(245,245,245,0.6)!important;
    border-radius: 10px!important;
}
.layui-laydate-list{
    background: #3a382b!important;
}
.laydate-day-prev{
    color: #73d3ff!important;
}
.layui-this{
    border-radius: 10px!important;
}
.laydate-day-next{
    color: #ffc67b!important;
}
